<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Add or edit workouts</h1>
    </div>
  </div>
  <hr />
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <form
        [formGroup]="addWorkoutForm"
        *ngIf="selectedWorkout"
        (ngSubmit)="onSubmitExeForm()"
      >
        <p class="text-center fs-4">Add exercises</p>

        <label for="exercisename">Exercise Name</label>
        <input
          id="exercisename"
          formControlName="exercisename"
          type="text"
          class="form-control"
        />

        <label for="setCount">Set count</label>
        <input
          id="setCount"
          type="number"
          class="form-control"
          formControlName="setCount"
        />

        <label for="movementType">Movement type</label>
        <select
          class="form-select"
          aria-label="Default select example"
          id="movementType"
          formControlName="movementType"
        >
          <option selected>Other</option>
          <option value="1">Horizontal push</option>
          <option value="2">Vertical push</option>
          <option value="3">Horizontal pull</option>
          <option value="4">Vertical pull</option>
          <option value="5">Squat</option>
          <option value="6">Hinge</option>
        </select>
        <label for="accesory" style="margin-top: 17px"
          >Accesory - won't be counted for overall training volume
        </label>
        <input
          id="accesory"
          type="checkbox"
          style="height: 30px; width: 30px; margin-left: 12px; margin-top: 17px"
          class="form-check-input"
          formControlName="accesory"
        />
        <div style="margin-top: 1cm">
          <button class="btn btn-primary" style="margin: 7px">
            Save and add new excercise
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <h4>Training list</h4>
      <p style="color: gray" *ngIf="!selectedWorkout">
        To add exercise click on training
      </p>
      <hr />
      <ul class="list-group">
        <li
          [ngClass]="{ Selected: training === selectedWorkout }"
          class="list-group-item"
          style="cursor: pointer"
          *ngFor="let training of workouts; let i = index"
          (click)="onClickTraining(training)"
        >
          <button class="btn btn-danger" style="font-size: small; margin: 4px">
            Delete training
          </button>
          {{ training.workoutName }}
          <div>
            <ul class="list-group">
              <li
                class="list-group-item"
                *ngFor="let exercise of workouts[i].exercises; let o = index"
                style="border-color: rgb(155, 21, 21)"
              >
                <div class="row">
                  <div class="col-4">
                    <p>
                      {{ exercise.exerciseName }}
                    </p>
                  </div>
                  <div class="col-3">
                    <p>{{ exercise.setCount }} sets</p>
                  </div>
                  <div class="col-3">
                    <p
                      [ngStyle]="{
                        color: getMvmntTypeStyle(exercise.movementType),
                        'font-weight': 'bolder'
                      }"
                    >
                      {{ exercise.movementType }}
                    </p>
                  </div>
                  <div class="col-2">
                    <button
                      style="float: right; font-size: small"
                      class="btn btn-danger"
                      (click)="onDeleteExercise(i, o)"
                    >
                      Delete exercise
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <button
        class="btn btn-info"
        style="font-size: small; margin-left: 0.45cm; margin-top: 0.1cm"
        (click)="onAddTraining()"
      >
        Add Training
      </button>
    </div>

    <div class="col-md-3">
      <h3 style="font-weight: bolder">Set count</h3>

      <div class="row wrapUp HorizontalPush">
        Horizontal push {{ movementsCount[0] }}
      </div>
      <div class="row wrapUp VerticalPush">
        Vertical push {{ movementsCount[1] }}
      </div>
      <div class="row wrapUp HorizontalPull">
        Horizontal pull {{ movementsCount[2] }}
      </div>
      <div class="row wrapUp VerticalPull">
        Vertical pull {{ movementsCount[3] }}
      </div>
      <div class="row wrapUp Squat">Squat {{ movementsCount[4] }}</div>
      <div class="row wrapUp Hinge">Hinge {{ movementsCount[5] }}</div>
    </div>
  </div>
</div>
