<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="row" style="margin-top: 15px">
        <div class="col-md-2">
          <button class="btn btn-primary btn-main" (click)="saveData()">
            Save changes
          </button>
        </div>
        <div class="col-md-10">
          <p class="heading" style="margin-top: 15px; margin-right: 210px">
            Add or edit workouts
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 bg-light rounded shadow">
      <p
        class="d-flex align-items-center justify-content-center"
        style="color: gray; font-size: 20px"
        *ngIf="!selectedWorkout"
      >
        To add exercise click on training
      </p>
      <form
        [formGroup]="addWorkoutForm"
        *ngIf="selectedWorkout"
        (ngSubmit)="onSubmitExeForm()"
        class="fadeIn"
      >
        <p class="text-center fs-4">Add exercises</p>

        <label for="exercisename">Exercise Name</label>
        <input
          id="exercisename"
          formControlName="exercisename"
          type="text"
          class="form-control"
        />

        <label for="setCount">Set count</label>
        <input
          id="setCount"
          type="number"
          class="form-control"
          formControlName="setCount"
        />

        <label for="movementType">Movement type</label>
        <select
          class="form-select"
          aria-label="Default select example"
          id="movementType"
          formControlName="movementType"
        >
          <option selected>Other</option>
          <option value="1">Horizontal push</option>
          <option value="2">Vertical push</option>
          <option value="3">Horizontal pull</option>
          <option value="4">Vertical pull</option>
          <option value="5">Squat</option>
          <option value="6">Hinge</option>
        </select>
        <label for="accesory" style="margin-top: 17px"
          >Accesory - won't be counted for overall training volume
        </label>
        <input
          id="accesory"
          type="checkbox"
          style="height: 30px; width: 30px; margin-left: 12px; margin-top: 17px"
          class="form-check-input"
          formControlName="accesory"
        />
        <div style="margin-top: 1cm">
          <button class="btn btn-primary" style="margin: 7px">
            Save and add new excercise
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <li
          [ngClass]="{ Selected: training === selectedWorkout }"
          class="list-group-item list-group-item-action"
          style="cursor: pointer"
          *ngFor="let training of workouts; let i = index"
          (click)="onClickTraining(training)"
        >
          <button
            class="btn btn-danger"
            (click)="onDeleteTraining()"
            style="font-size: small; margin: 4px"
          >
            Delete training
          </button>
          {{ training.workoutName }}
          <div>
            <ul class="list-group">
              <li
                class="list-group-item"
                *ngFor="let exercise of workouts[i].exercises; let o = index"
                style="border-color: rgb(138, 138, 138)"
              >
                <div class="row">
                  <div class="col-4">
                    <p>
                      {{ exercise.exerciseName }}
                    </p>
                  </div>
                  <div class="col-3">
                    <p>{{ exercise.setCount }} sets</p>
                  </div>
                  <div class="col-3">
                    <p
                      [ngStyle]="{
                        color: getMvmntTypeStyle(exercise.movementType),
                        'font-weight': 'bolder'
                      }"
                    >
                      {{ exercise.movementType }}
                    </p>
                  </div>
                  <div class="col-2">
                    <button
                      style="float: right; font-size: small"
                      class="btn btn-danger"
                      (click)="onDeleteExercise(i, o)"
                    >
                      Delete exercise
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <button
        class="btn btn-info"
        style="font-size: small; margin-left: 0.45cm; margin-top: 0.1cm"
        (click)="onAddTraining()"
      >
        Add Training
      </button>
    </div>

    <div class="col-md-3 bg-light rounded shadow">
      <h3 style="font-weight: bolder">Set count</h3>

      <table class="table table-bordered table-hover table-striped">
        <tr class="wrapUp HorizontalPush">
          <td>Horizontal push</td>
          <td>{{ movementsCount[0] }}</td>
        </tr>
        <tr class="wrapUp VerticalPush">
          <td>Vertical push</td>
          <td>{{ movementsCount[1] }}</td>
        </tr>
        <tr class="wrapUp HorizontalPull">
          <td>Horizontal pull</td>
          <td>{{ movementsCount[2] }}</td>
        </tr>
        <tr class="wrapUp VerticalPull">
          <td>Vertical pull</td>
          <td>{{ movementsCount[3] }}</td>
        </tr>
        <tr class="wrapUp Squat">
          <td>Squat</td>
          <td>{{ movementsCount[4] }}</td>
        </tr>
        <tr class="wrapUp Hinge">
          <td>Hinge</td>
          <td>{{ movementsCount[5] }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
